body {
    margin: 0 auto;
    background-color: #f8f8f8;
    font-family: メイリオ;
}

header {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img {
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}

.login {
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 14px;
}

main {
    margin: 30px auto;
    width: 450px;
    height: 420px;
    box-shadow: 4px 4px 4px lightgray;
    background-color: white;
    border: 2px lightgray solid;
    border-radius: 10px;
}

.form {
    padding: 5px;
}

.contents {
    margin: 50px 50px 30px 50px;
    text-align: center;
}

.error {
    font-size: 14px;
    color: indianred;
    background-color: lightpink;
    padding: 5px;
}

.logincheck {
    margin-bottom: 20px;
    text-align: left;
    margin-left: 4.4em;
}

.mail,
.password {
    text-align-last: left;
    margin: 25px;
}

.button {
    border: 1px solid lightgray;
    padding: 6px 60px 4px 60px;
    background-color: #31A253;
    color: white;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    width: 200px;
    margin-bottom: 15px;
}

form {
    text-align: center;
}

footer {
    width: 100%;
    height: 40px;
    background-color: white;
    color: gray;
    text-align-last: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
    position: absolute;
    bottom: 0;
}